:root{
    --white:#fff;
    --black:#000;

    --primary-1:#da1717;
    --primary-2:#ff0000;

    --neutral-1: #777575;
    --neutral-2:#444141;
    --neutral-3:#c2c2c2;
    --neutral-4:#eeeeee;

    --accent-1:#3176d0;
    --accent-2:#1044e2;

    --delta-1:#03f654;
    --delta-2:#0dad3a;

}

body{
    margin: 0;
    background-color: var(--neutral-4);
}
a{
    text-decoration: none;
    color: var(--primary-1)
}

.navbar{
    width: 100%;
    padding: 10px 0;
    display: flex;
    background-color: var(--white);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07),
    0px -3px 7px 1px rgba(0, 0, 0, 0.07);
}

.nav-brand{
    font-size: 40px;
    text-decoration: none;
    padding-left: 20px;
    color: var(--primary-1);
}

#navbar ul {
    list-style-type: none;
    overflow: hidden;
    padding-right: 20px;
}
  
#navbar li {
    display: inline-block;
}

.nav-item{
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-1);
    display: block;
    text-align: center;
    padding: 13px 20px;
    cursor: pointer;
}

.nav-item:hover{
    text-decoration: none;
    color: var(--primary-2);
}

main{
    margin-top: 40px;
}

.service{
    margin: 0;
    padding: auto;
    background-color: var(--black);
    color: var(--white);
}

.service-title{
    text-align: center;
}

.service-lists{
    column-count: 2;
    margin-left: 10pc;
    text-decoration: underline;
}

.testimonals{
    margin: 0;
    padding: auto;
}

.testimonal-title{
    text-align: center;
}

.testimonal-form{
    display: grid;
    justify-content: center;
}

.testimonal{
    font-size: 16px;
    margin: 1.7em;
    width: 100%;
    max-width: fit-content;
    border-radius: 8px;
    height: 160px;
    width: 100%;

}

.btn{
    border-radius: 8px;
    cursor: pointer;
    font-size: medium;
    font-weight: 600;
    background-color: var(--delta-2);
    color: var(--white);
    height:fit-content;
    padding: 8px 15px;
}

.btn:hover{
    background-color: var(--delta-1);
}


.three{
    padding: 25px 0;
    margin: 0 -15px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--neutral-3);
}

.three-wrapper{
    padding: 0 15px;
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    position: relative;
}

.three-title{
    font-size: 27px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 1px solid #acb8bc;
    text-transform: uppercase;
}